*~
.DS_Store
*.lock
*.log
vendor/
linkedSPLs/LinkedSPLs-activeMoiety/mergedActiveMoiety.csv
linkedSPLs/LinkedSPLs-activeMoiety/activeMoietySub-in-rdf.xml
linkedSPLs/LinkedSPLs-activeMoiety/mappings/
linkedSPLs/LinkedSPLs-activeMoiety/PT-RXCUI-UNII-DB.csv
linkedSPLs/LinkedSPLs-clinicalDrug/mergedClinicalDrug.tsv
linkedSPLs/LinkedSPLs-clinicalDrug/mappings/
linkedSPLs/LinkedSPLs-clinicalDrug/clinicalDrugSub-in-rdf.xml
linkedSPLs/LinkedSPLs-update/data/
linkedSPLs/LinkedSPLs-update/load-dailymed-spls/problematic-spls/
linkedSPLs/LinkedSPLs-update/mappings/FDA-pharmacogenetic-info-mapping/cached-table-downloads/
linkedSPLs/LinkedSPLs-update/mappings/PT-UNII-ChEBI-mapping/ChEBIJavaClient/bin/
